
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
 .title{
     display: inline-block;
     color: white;
     margin-left: 15%;
     /*margin-top: 15px;*/
 }
.login{
     margin-right: 15%;
 }
 table {
     display: inline-block;
     height: auto;
 }
 tr {
     line-height: 50%;
 }
 td {
     padding-right: 20px;
 }
 td label {
     color: white;
     font-size: small;
 }
 td a {
     color: gainsboro;
     font-size: small;
     text-decoration-line: none;
 }
 .login-button {
     background-color: #4e69a2;
     color: white;
     border-radius: 15%;
     border-color: #3b5998;
 }
 .main_description{
     margin-top: 70px;
     margin-left: 0;
     margin-right: 0;
     height: 630px;
     width: 100%;
     background-color: #edf0f5;
     display: block;
 }
 .main_section{
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
 }
 .left-article {
     margin-left: 15%;
     display: inline-block;
     min-width: 520px;
 }
 .right-article {
     margin-right: 15%;
     display: inline-block;
     width: 400px;
 }
.title-description2 {
    margin-top: 10%;
}
.tips {
    padding-top: 3%;
    padding-bottom: 3%;
}
.tips-description {
    display: inline-block;
}
.grayWords{
    color: dimgray;
}

.sign-up {
    margin-top: 20px;
    margin-bottom: 3px;
}
.sign-up-description {
    margin-top: 3px;
    margin-bottom: 30px;
}
.name-input {
    width: 170px;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    font-size: large;
    padding-left: 10px;
    margin-bottom: 5px;
}
.account-description {
    width: 358px;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    font-size: large;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.birthday-gender {
    font-weight: bold;
    color: darkgrey;
    margin-top: 10px;
    margin-bottom: 5px;
}
.click-signUp-description{
    font-size: xx-small;
    color: darkgrey;
}
.url-description {
    text-decoration-line: none;
    color: #385898;
}
.sign-up-button {
    border-radius: 5px;
    width: 170px;
    height: 40px;
    background-color: #168c3e;
    color: #edf0f5;
    font-size: large;
}
.crate-page-description {
    font-weight: bold;
    color: dimgray;
}

 footer {
     clear: both;
     margin-top: 50px;
     margin-left: 15%;
     margin-right: 15%;
 }
 nav a {
     font-size: smaller;
     text-decoration-line: none;
     color: #385898;
     margin-right: 10px;
 }
 .foot-label {
     font-size: xx-small;
     color: darkgrey;
 }
